.container {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    min-height: 100svh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    width: 378px;
}

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
    margin-top: 3em;
}

.text {
    margin-top: 1em;
}

.slides {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 48px;
}

.slide {
    width: 580px;
}

.big-slide {
    width: 100%;
}

.gap {
    margin-top: 48px;
}
