.container {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    min-height: 100svh;
    background: azure;
}

.main {
    display: flex;
    flex-direction: row;
    background: red;
}

.designer {
    background: blueviolet;
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: calc(50px + 280px + 50px);
    box-sizing: border-box;
}

.photo {
    width: 280px;
    height: 280px;
}

.text {
    margin-top: 1rem;
}

.projects {
    background: green;
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.slide {
    background: pink;
}

.label {
    font-size: 16px;
    margin: 0.5em 0 0 0;
}

.magnum-bikes {
    width: 800px;
}

.compulse {
    width: 800px;
}

.slides {
    display: flex;
    background: pink;
    justify-content: space-between;

}

.wagely {
    background: yellow;
    width: 387.5px;
}

.tresor {
    background: orange;
    width: 387.5px;
}
