.container {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    min-height: 100svh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    width: 378px;
}

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
    margin-top: 3em;
}

.text {
    margin-top: 1em;
}

.slide {
    width: 982px;
    max-width: 100%;
}

.big-slide {
    width: 100%;
}

.gap {
    margin-top: 48px;
}

.vertical-slide-with-text {
    width: 782px;
    display: flex;
    margin-top: 48px;
    gap: 24px;
}

.vertical-slide {
    width: 380px;
}
